@font-face {
    font-family: Aeonik TRIAL Light;
    src: url(C:\WINDOWS\FONTS\AEONIKTRIAL-LIGHT.OTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 99;
}
#nav h1{
    display: flex;
    align-items: flex-start;
    font-size: 23px;
    font-weight: 300;
}
#nav h1 img{
    /* background-color: blue; */
    height: 30px;
    margin-right: 5px;
}
#nav #part2 a{
    text-decoration: none;
    font-size: 28px;
    color: #000;
    margin: 0 20px;
}
#nav i{
    font-size: 26px;
    margin: 0 20px;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main h1{
    font-size: 13vw;
    margin-top: -10vh;
    /* background-color: red; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}
#main img{
    /* height: 540px; */
    height: 28.5vw;
    position: absolute;
    top: 50%;
    left: 48%;
    z-index: 99;
    transform: translate(-50%,-50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;

}
#center:hover img{
    transform:translate(-50%,-50%) scale(1.2);
}
#center:hover h1{
    transform: scale(1.2);
}
#circle{
    height: 400px;
    width: 400px;
    height: 21vw;
    width: 21vw;
    background-color: rgb(255, 229, 229);
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle2{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 251, 229) !important;
    border-radius: 50%;
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle3{
    height: 380px;
    width: 380px;
    background-color: rgb(249, 239, 255) !important;
    border-radius: 50%;
    position: absolute;
    top: 50% !important;
    left: 48% !important;
    transform: translate(-50%,-50%);
}
#footer{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 99;
    bottom: 4%;
    overflow: hidden;
}
#footer #f-part1{
    display: flex;
    align-items: center;
}
#footer #f-part2{
    display: flex;
    align-items: center;
}
#footer i{
    background-color: #dadada;
    font-size: 20px;
    padding: 13px;
    margin: 0 5px;
    border-radius: 50%;
    font-weight: 700;

}
#footer img{
    height: 55px;
    width: 55px;
    object-fit: cover;
    border-radius: 50%;
}
#footer h5{
    margin-left: 20px;
    font-size: 30px;
}

#img2{
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50% !important;
    /* background-color: red; */
    z-index: 99;
    transform: translate(-50%,-50%);
}
@media (max-width:600px) {
    #nav{
        height: 70px;
        width: 100%;
        /* background-color: red; */
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        z-index: 99;
    }
    #nav h1{
        display: flex;
        align-items: flex-start;
        font-size: 18px;
        font-weight: 300;
    }
    #nav h1 img{
        /* background-color: blue; */
        height: 24px;
        margin-right: 3px;
    }
    #part2{
        display: flex;
        align-items: center;
    }
    #nav #part2 a{
        text-decoration: none;
        font-size: 16px;
        color: #000;
        margin: 0 8px;
    }

    #nav i{
        font-size: 17px;
        margin: 0 6px;
    }
    #main h1{
        font-size: 85px;
    }
    #main img{
        /* height: 540px; */
        height: 220px;
        position: absolute;
        top: 48%;
        left: 48%;
        z-index: 99;
        transform: translate(-50%,-50%);
    }
    #circle{
        /* height: 400px;
        width: 400px; */
        height: 38vw;
        width: 38vw;
        background-color: rgb(255, 229, 229);
        border-radius: 50%;
        position: absolute;
        top: 46%;
        left: 52%;
        transform: translate(-50%,-50%);
    }
    #footer{
        height: 70px;
        width: 100%;
        /* background-color: red; */
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        z-index: 99;
        bottom: 4%;
        overflow: hidden;
    }
    #footer #f-part1{
        display: flex;
        align-items: center;
    }
    #footer #f-part2{
        display: flex;
        align-items: center;
    }
    #footer i{
        background-color: #dadada;
        font-size: 20px;
        padding: 13px;
        margin: 0 5px;
        border-radius: 50%;
        font-weight: 700;
    
    }
    #footer img{
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 50%;
    }
    #footer h5{
        margin-left: 10px;
        font-size: 22px;
    }
}
